<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超级管理员登录面板</title>
    <style>
        .title {
            text-align: center;
            color:black;
        }
        .box {
            color: black;
            text-align: center;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: linear-gradient(to top, #fbc2eb 100%, #a6c1ee 100%);
        }
    </style>
</head>
<body>
    <form method="post" action="admin_super">
        管理员账户:<input type="text" name="name">
        <br/>
        管理员密码:<input type="password" name="psw">
        <br/>
        <input type="submit" value="登录">
    </form>
</body>
</html>