<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员必备</title>
    <style>
        .title {
            text-align: center;
            color:black;
        }
        .box {
            color: black;
            text-align: center;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: linear-gradient(to top, #fbc2eb 100%, #a6c1ee 100%);
        }
    </style>
</head>
<body>
    管理员必备素养:
    <br/>
    1.做到不乱权 不误封 以为玩家体验为第一位
    <br/>
    2.不会以管理的身份逼迫玩家
    <br/>
    3.权限不能乱用 应在合理的前提下使用
    <br/>
    4.如果遇到违规的 必须严格按照服务器服务器规则封禁
    <br/>
    5.知道管理面板功能的用处以及使用方法
    <br/>
    6.管理应该以身作则 保持自身不违规 文明游戏
    <br/>
    <a href="./admin_panel">管理面板翻译</a>
</body>
</html>