<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑化工具箱 - WEB</title>
</head>
<body>
<h1>欢迎来到黑化工具箱</h1>
<h2><i>针对于SCP Classified Site 这款游戏</i></h2>
<i>以下是本站所有功能:</i>
<a href="./server">服务器列表</a>
<a href="./change">更改简介和名字</a>
<i>没错 没了[doge]</i><br/>
<i>如果可以的话可以给我点赞助吗 球球啦</i><br/>
<i>如果你也没钱的话 也可以不赞助的</i><br/>
<a href="https://cccimg.com/view.php/61f1db0839cc01d43fb90e47eff7494c.png">赞助</a>
<!--音乐播放器-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="https://myhkw.cn/player/js/player.js" id="myhk" key="demo" m="1"></script>
            <center>
                网站已运行:<span id="run_time" style="color:black"></span>
            </center>

            <script>
                function runTime() {
                    var d = new Date(), str = '';
                    BirthDay = new Date("October 21,2023");
                    today = new Date();
                    timeold = (today.getTime() - BirthDay.getTime());
                    sectimeold = timeold / 1000
                    secondsold = Math.floor(sectimeold);
                    msPerDay = 24 * 60 * 60 * 1000
                    msPerYear = 365 * 24 * 60 * 60 * 1000
                    e_daysold = timeold / msPerDay
                    e_yearsold = timeold / msPerYear
                    daysold = Math.floor(e_daysold);
                    yearsold = Math.floor(e_yearsold);
                    //str = yearsold + "年";
                    str += daysold + "天";
                    str += d.getHours() + '时';
                    str += d.getMinutes() + '分';
                    str += d.getSeconds() + '秒';
                    return str;
                }
                setInterval(function () { $('#run_time').html(runTime()) }, 1000);
            </script>
</body>
</html>