<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .title {
            text-align: center;
            color:black;
        }
        .box {
            color: black;
            text-align: center;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: linear-gradient(to top, #fbc2eb 100%, #a6c1ee 100%);
        }
    </style>
</head>
<body>
<h1>PS:我们不会偷取你的信息（保证！！！！！！！）</h1>
<form method="post" action="/change">
    用户名:<input type="text" name="user">
    <br/>
    密码:<input type="password" name="psw">
    <br/>
    <input type="submit" value="登录">
</form>
<!--音乐播放器-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="https://myhkw.cn/player/js/player.js" id="myhk" key="demo" m="1"></script>
</body>
</html>